:is(.dark .dark-home-bg) {
  background-color: rgb(143, 143, 143);
}

.home-bg {
  background-color: rgb(212, 73, 73);
}

:is(.dark .dark-text) {
  color: white;
}

.text {
  color: black;
}
body {
  margin: 1rem;
  border: solid 1px gray;
}
select {
  display: block;
  margin-bottom: 1rem;
}
