.btn-bg {
  aspect-ratio: 1;
  background: rgb(167, 0, 0);
  border-radius: 1em;
  box-shadow: none;
  border: none;
  padding: 0;
  outline: none;
}

.btn-fg {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  border-radius: 1em;
  aspect-ratio: 1;
}

.btn-fg-color-default {
  background-color: rgb(181, 181, 181);
}

.btn-fg-pos-default {
  transform: translateY(-0.6rem);
  transition: all 250ms cubic-bezier(0, 0, 0.26, 2.16);
}

.btn-fg-pos-pressed {
  transform: translateY(-0.1rem);
  transition: all 150ms linear;
}
/* .btn-fg-pos-default:hover {
  transform: translateY(-0.8rem);
} */
