.btn-bg {
  aspect-ratio: 1;
  background: rgb(167, 0, 0);
  border-radius: 1em;
  box-shadow: none;
  border: none;
  padding: 0;
  outline: none;
}

.btn-bg .btn-fg {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  background-color: rgb(181, 181, 181);
  border-radius: 1em;
  aspect-ratio: 1;
  transform: translateY(-0.6rem);
}
.btn-bg .btn-fg:hover {
  transform: translateY(-0.8rem);
}

.btn-bg:active .btn-fg {
  transform: translateY(-0.1px);
  transition: all 250ms;
}
